article{
	text-align: center;
}
fieldset{
	display: inline-block;
	background: rebeccapurple;
	border:0;
	padding: 20px;
}
label{
	padding: 10px;
	color: white;
}
input{
	background-color: inherit;
	border: 0;
	border-bottom: 2px white solid;
	margin: 10px;
	color: white;

}
input:s{
	
}
p{

	text-decoration: underline;
	color: white;

}
p:hover{
	color: pink;
}